<% if current_user.second_factor_enabled? %>
  <div class="homepage-grid mdc-list-group">
    <h3 class="mdc-list-group__subheader">Your Security Keys:</h3>
    <ul class="credentials-list mdc-list mdc-list--two-line">
      <% current_user.webauthn_credentials.each do |credential| %>
        <li class="mdc-list-item">
          <span class="mdc-list-item__graphic material-icons">vpn_key</span>

          <span class="mdc-list-item__text">
            <span class="mdc-list-item__primary-text">
              <%= credential.nickname %>
            </span>

            <span class="mdc-list-item__secondary-text">
              <%= "Registered on #{credential.created_at.strftime('%B %d, %Y')}" %>
            </span>
          </span>

          <%= link_to "delete", credential, method: :delete, class: "mdc-list-item__meta material-icons no-text-decoration" %>
        </li>
      <% end %>
    </ul>
    <div class="credentials-list__new-credential-button center">
      <%= button_to("Register new Security Key",
                    new_webauthn_credential_path,
                    method: :get,
                    class: "mdc-button mdc-button--raised") %>
    </div>
  </div>
<% else %>
  <div class="homepage-grid homepage-grid--second-factor-disabled">
    <h3 class="mdc-typography--subtitle1">Please enable Two-Factor Authentication in the button below:</h3>
    <div class="center">
      <%= button_to("Enable 2FA", new_webauthn_credential_path, method: :get, class: "mdc-button mdc-button--raised") %>
    </div>
  </div>
<% end %>
